<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mariasher.freemobility">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo1_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FreeMobility">
        <activity
            android:name=".CustomerScreenPortal"
            android:exported="false" />
        <activity
            android:name=".CustomerSelectionPortal"
            android:exported="false" />
        <activity
            android:name=".AdminProfile"
            android:exported="false"
            android:parentActivityName=".AfterAdminLogin" />
        <activity
            android:name=".AfterAdminLogin"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false"
            android:parentActivityName=".AdminPortal" />
        <activity
            android:name=".RegisterAdmin"
            android:exported="false"
            android:parentActivityName=".AdminPortal" />
        <activity
            android:name=".AdminPortal"
            android:exported="false"
            android:parentActivityName=".MainActivity2" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>